<table width='100%' border='1' class='table table-bordered'>
  <thead>
    <tr>
      <td>Quantity</td>
      <td>Product</td>
      <td>Sub-Total</td>
      <td>Tax</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <% order.order_items.each do |item| %>
      <tr class='item'>
        <td class='item-row'>
          <div class='remove_button'>
            <%= link_to basket_path(id: item.id), method: 'patch' do %>
              <icon class='fa fa-times'></icon>
            <% end %>
          </div>
          <%= item.quantity %> x <%= number_to_currency item.unit_price %>
        </td>
        <td class='item-row'>
          <%= item.ordered_item.full_name %>
        </td>
        <td class='item-row'><%= number_to_currency item.sub_total %></td>
        <td><%= number_to_currency item.tax_amount %></td>
        <td class='item-row'>
          <%= number_to_currency item.total %>
        </td>
      </tr>
      <tr>
    <% end %>

    <% if order.delivery_service %>
    <tr>
      <td></td>
      <td><%= order.delivery_service.name %></td>
      <td><%= number_to_currency order.delivery_price %></td>
      <td><%= number_to_currency order.delivery_tax_amount %></td>
      <td><%= number_to_currency order.delivery_price + order.delivery_tax_amount %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='4'>Sub-Total</td>
      <td>
        <%= number_to_currency order.total_before_tax %>
      </td>
    </tr>
    <tr>
      <td colspan='4'>Tax</td>
      <td>
        <%= number_to_currency order.tax %>
      </td>
    </tr>
    <tr>
      <td colspan='4'>Total</td>
      <td>
        <font class="greenmoney">
          <%= number_to_currency order.total %>
        </font>
      </td>
    </tr>
  </tfoot>
</table>
