<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav-header">
      <div class="banner">
        <%= link_to image_tag('banner.png', border: 0, class: 'navbar-brand'), root_path %>
      </div>
    </div>
    <nav>
      <section class='mrb-navbar'>
        <section class='nav-links'>
          <section <%= "class='active'" if @basket_active %>>
          </section>
          <%= render 'layouts/nav_link', path: '/news', icon: 'fa fa-newspaper-o', text: 'news' %>
          <%= render 'layouts/nav_link', path: '/videos', icon: 'fa fa-video-camera', text: 'videos' %>
          <%= render 'layouts/nav_link', path: '/store', icon: 'fa fa-star', text: 'store' %>
          <%= render 'layouts/nav_link', path: '/about', icon: 'fa fa-info-circle', text: 'about' %>
          <%= render 'layouts/nav_link', path: '/support', icon: 'fa fa-heart', text: 'support' %>
        </section>
      </section>
    </nav><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</nav>
