<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav-header">
      <div class="banner">
        <%= link_to image_tag('banner.png', border: 0, class: 'navbar-brand'), root_path %>
      </div>
    </div>
    <nav>
      <section class='mrb-navbar'>
        <section class='nav-links'>
          <article class='nav-link'>
            <%= link_to '/about' do %>
            <font class='nav-text'>
              <p>about</p>
            </font>
            <% end %>
          </article>
          <article class='nav-link'>
            <%= link_to '/merch' do %>
            <font class='nav-text'>
              <p>store</p>
            </font>
            <% end %>
          </article>
          <article class='nav-link'>
            <section <%= "class='active'" if @basket_active %>>
              <%= render 'layouts/current_order', current_order: current_order %>
            </section>
          </article>
        </section>
      </section>
    </nav><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</nav>
