<!DOCTYPE html>
<html>
<head>
  <title>Mr. Beeken</title>
  <link rel="icon" type="image/png" href="/favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav_menu', current_order: current_order %>
  <%= render 'layouts/flash', flash: flash %>
  <section class='jumbotron'>
    <%= yield %>
  </section>
</body>
</html>
